//Variables
$ColorTexto: black;
$ColorPrincipal: Red;
$ColorSecundario: orangered;

//header

*{
    margin: 0%;
    padding: 0%;
    text-decoration: none;
    list-style: none;
}

nav{
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
div.header__contenedor2{
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: right;
}
}


    
li:last-child {
        background-color: #fa0000;
        border: 2px solid;
        padding: .25rem .75rem;
        border-radius: .2rem;
    }

li:last-child:hover{
        background: transparent;
        border: 2px solid;
        color: $ColorPrincipal;
    }

a:last-child:hover{
    color: #fa0000;
}


//Main Index

main {padding-top: 70px;
    div{
    align-items: center;
        div.col{
        align-items: center;
        text-align: center;
        .titulo{
            font-family: 'Montserrat Alternates', sans-serif;
            color: black;
            font-weight: bold;
        }
    }
}
}

img.placa, img.placa2 {
    object-fit: contain;
    width: 80%;
}

article{
    padding: 100px;
    text-align: center;
    .secundario {
        font-family: 'Montserrat Alternates', sans-serif;
        font-size: medium;
        font-weight: bold;
    }
}

//Main Pagina Us

div.central {
    margin-bottom: 100px;
    Div.col1{
        text-align: center;
        font-family: 'Montserrat Alternates', sans-serif;
        margin-bottom: 100px;
        h1.acercaDe{
            font-weight: bold;
            
        }
    }
}


img.banner1, img.banner2 {
    object-fit: contain;
    width: 300px;
    height:500px;
}

.textoUs {
    object-fit: contain;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 700;
    width: 600px;
    height: 200px;
    padding-bottom: 300px;
}

div.video {
    align-items: center;
    text-align: center;
    margin-bottom: 100px;
    iframe{
        align-items: center;
    }
}

//main pagina Products

div{
    h1.acercaDe {
        font-family: 'Montserrat Alternates', sans-serif;
        font-weight: bold;
        text-align: center;
        align-items: center;
    }
}


img.galeria{
    object-fit: contain;
    width: 400px;
    height: 500px;
}


//main pagina Questions

div.tituloQ{
    margin-bottom: 100px;
}

div.containerQ{
    width: 100%;
    text-align: center;
    align-items: center;    
    div.questions{
        object-fit: contain;
        width: 300px;
        height: 400px;
        text-align: center;
        align-items: center;
        font-family: 'Montserrat Alternates', sans-serif;
        h3{
            font-weight: bolder;
            text-align: center;

        }
        }
    }

//main pagina Contact



//footer

div.contenedorNegro{
    align-items: center;
    padding: 10px;
    background-color: $ColorTexto;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}











